body{
    background: lightgrey
}
h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
p{
    font-family: Verdana, Helvetica, sans-serif;
}
li{
    font-family: 'Courier New', Courier, monospace;
}
figcaption{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}